.nav-pills-customized {
    background-color: #c6c4c0;
    color : #f8f5f0;
    margin-bottom: 1px;
    margin-top :1px;
}

.card-header-customized {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  color: #353B38;
  background-color: #F8F5F0;
  font-size: 30px;
  font-weight: lighter;
  border-bottom: 1px solid rgba(223, 215, 202, 0.75);
}

.card-customized {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(223, 215, 202, 0.75);
	border-radius: 0.25rem;
	margin-top: 4px;
	margin-bottom: 4px;
}

.card-plot-customized {
	box-shadow: 2px 2px 1px grey;
}

.legend { list-style: none; }
.legend li { margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .classe-a { background-color: #922b21; }
.legend .classe-b { background-color: #f1c40f; }
.legend .classe-c { background-color: #27ae60; }
.legend .classe-d { background-color: #31f2cd; }
.legend .classe-e { background-color: #2980b9; }
.legend .classe-f { background-color: #7d3c98; }
.legend .classe-w { background-color: #34495e; }

.criteria-definition {
	text-align: justify;
	border : 1px solid ;
	border-color: #9E9D9A;
	padding: 5px;
}

.criteria-title {
	text-align: center;
	--bs-text-opacity: 1;
  	color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)

}

.link-customized {
	color : #c6c4c0;
	text-align : center;
}

.highlight-info {
	font-weight: bold;
	text-align: center;
	font-size: calc(1.375rem + 1.5vw);

}

.paragraph-customized {
	text-align : justify;
	font-size: 18px;
}